apiVersion: apps/v1
kind: Deployment
metadata:
  name: flow-api-gateway-dev
  namespace: flow
  labels:
    app: flow-api-gateway-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flow-api-gateway-dev
  template:
    metadata:
      labels:
        app: flow-api-gateway-dev
    spec:
      containers:
        - name: flow-api-gateway-dev
          image: asia-northeast3-docker.pkg.dev/code-review-platform-flow/flow-dev/flow-api-gateway-dev:c80e1ea0fbf731a3b66c2b1ae17695adcef7bc7c
          ports:
            - containerPort: 8080
          env:
            - name: PROFILE
              value: "dev"
            - name: FLOW_MAIN_URI
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: FLOW_MAIN_URI
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: DB_URL
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: JWT_SECRET
            - name: ACCESS_EXPIRATION
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: ACCESS_EXPIRATION
            - name: REFRESH_EXPIRATION
              valueFrom:
                secretKeyRef:
                  name: flow-api-gateway-dev-secret
                  key: REFRESH_EXPIRATION
          volumeMounts:
            - name: log-volume
              mountPath: /var/log/flow
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
      volumes:
        - name: log-volume
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: flow-api-gateway-dev-service
  namespace: flow
spec:
  selector:
    app: flow-api-gateway-dev
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer
